@using Inventory.Repository.Paging;
@using Inventory.ViewModel.BillViewModel;

@model PaginatedList<BillTypeListViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row mb-3">
        <div class="col-6">
            <a asp-action="Create" class="btn btn-primary"> Add New Bill Type </a>
        </div>
        <div class="col-6 text-end"> Search Here </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Bill-Type Id</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model){
                    <tr>
                        <td>@item.BillTypeId</td>
                        <td>@item.BillTypeName</td>
                        <td>@item.Description</td>
                        <td><a asp-action="Edit" asp-route-billTypeId="@item.BillTypeId" class="btn btn-primary btn-sm"> Edit </a>
                        <td>
                            <form asp-action="Delete"
                            asp-route-billTypeId="@item.BillTypeId"
                            method="post"
                            style="display:inline;">

                                <button type="submit"
                                class="btn btn-danger btn-sm">
                                    Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>